/* Fonts */

@font-face {
    font-family:'raj-bold' ;
    src: url(../4th_Project/font/Rajdhani/Rajdhani-Bold.ttf);
}

@font-face {
    font-family:'raj-light' ;
    src: url(../4th_Project/font/Rajdhani/Rajdhani-Light.ttf);
}

@font-face {
    font-family:'raj-medium' ;
    src: url(../4th_Project/font/Rajdhani/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'raj-reg';
    src: url(../4th_Project/font/Rajdhani/Rajdhani-Regular.ttf);
}


/* Global attributes */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}

body{
    background-image: url(../4th_Project/Img/1567665.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'raj-reg';
    font-size: 20px;
}

h1{
    font-size: 75px;
    background-color:rgba(43, 73, 85, 0.6);
}

h2{
    font-size: 35px;
    padding: 20px;
}

h3{
    font-size: 25px;
}


/* Nav */


.navbar {
    background-color: rgb(71, 71, 71);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    padding: 0 15px;
  

}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
}

.navbar a:hover{
    color:darkgrey;
}

.primary-icon{
    height: 40px;
}

.menu-line{
    width:20px;
    height: 3px;
    background-color: whitesmoke;
    margin-bottom: 4px;
}

.menu{
    display: none;
}

/* Container */

.container{
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.Jumbotron{
    height: 300px;
    border: 2px solid rgb(60, 175, 196);
    padding: 20 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.Catalog{
    padding: 30px 0;
}

.flex{
    display: flex;
    justify-content: space-around;
    
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width:40%;
    height: 600px;
    margin:5px;
}
.intel{
    background-image: url(../4th_Project/Img/intel.jpg);
    border: 2px solid rgb(60, 175, 196);
   
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: rgb(63, 146, 241);
    
}

.amd{
    background-image: url(../4th_Project/Img/amd.jpg);
    border: 2px solid rgb(187, 7, 7);
    
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: rgb(214, 48, 48);
    

}

.Abus{
   
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.FAQ{
    padding: 0 20px;
}

.Faqinner{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.faqitem{
    border: 3px solid rgb(35, 135, 175);
    padding: 10px;
    background-color: rgba(19, 27, 31, 0.7);
}

.location{
    padding: 15px;
}

footer{
    background-color: rgb(71, 71, 71);
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family:'raj-bold';
}

@media all and (max-width:480px) {
    .navbar{
        flex-direction: column;
        position: relative;
    }

    .navbar .container-icon{
        width: 100%;
    }
    .menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid whitesmoke;
    }

    .primary-icon{
        margin-top: 10px;
        margin-left: 10px;
    }
    .active{
        display: block;
    }
    h1{
        font-size:35px;
    }
}